@import url('https://fonts.googleapis.com/css2?family=Best+Goosles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Kode+Mono:wght@400..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Rubik+Glitch+Pop&display=swap');
.banner {
    background-image: url("https://images.pexels.com/photos/1482803/pexels-photo-1482803.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Full viewport height */
    opacity: 0.6; /* Transparency */
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow: hidden; /* Hides overflow content */
    display: flex;
   
}

.banner-content {
    text-align: center;
    animation: fadeIn 3s ease-out forwards, slideIn 2s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .banner {
        width:'100%';
        background-size: contain;
        
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .banner {
        width:'100%';
        background-size: contain;
        
        height: 30vh;
    }
}

.logo{
    
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    
}